.section-header{
    width: 100%;
    height: 100%;
    background: url('../../images/place.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
}
.container-textdata{
    color: white;
    z-index: 1;
}